header {
border: solid #000000 1px;
display: flex;
justify-content: center;
}

#title {
  border: solid black 1px;
  display: flex;
}

#navigation {
border: solid black 1px;
display: flex;
gap: 10px;
justify-content: space-evenly;

}

.sub-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-content {
border: solid black 1px;
display: flex;
flex-direction: column;
justify-content: center;

}

.section-class{
    border: solid green 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}
.content {
  display: flex;
  flex-direction: column;
}

#aside-content {
    
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 2fr;
    border: solid red 5px;
    width: 100px;
    text-align: center;
    
}
aside{
    width: 100px;
    height: 500px;
    flex-direction: column;
    overflow: auto;
    
}
